<section class="landing__page__container">
  <div #landingDesignContainer class="landing__design__container">
    <app-landing-design
      (emitLandingDesignPageState)="receiveLandingState($event)"
    ></app-landing-design>
  </div>
  <div class="side__nav__toggle__container">
    <button
      class="side__nav__toggle__button"
      mat-raised-button
      (click)="onNavToggle()"
    >
      <div class="menu-icon">
        <input
          class="menu-icon__cheeckbox"
          type="checkbox"
          [(ngModel)]="isNavigationOpen"
        />
        <div>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>
  </div>
  <mat-drawer-container class="landing__page__drawer" hasBackdrop="true">
    <mat-drawer
      #drawer
      class="side__nav"
      mode="over"
      position="end"
      [(opened)]="isNavigationOpen"
    >
      <app-navigation
        (emitLandingDesignPageVisibility)="receiveLandingState($event)"
        (emitNavigationOption)="receiveSection($event)"
      ></app-navigation>
    </mat-drawer>
    <mat-drawer-content class="landing__page__main__content__wrapper">
      <app-home [inputScrollToSection]="sectionToScrollTo"></app-home>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
