<section class="landing__page__container">
  <div class="side__nav__toggle__container">
    <button
      class="side__nav__toggle__button"
      mat-raised-button
      (click)="drawer.toggle()"
    >
      <div class="menu-icon">
        <input class="menu-icon__cheeckbox" type="checkbox" />
        <div>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>
  </div>
  <mat-drawer-container class="landing__page__drawer" hasBackdrop="true">
    <mat-drawer #drawer class="side__nav" mode="over" position="end">
      <app-navigation></app-navigation>
    </mat-drawer>
    <mat-drawer-content class="landing__page__main__content__wrapper">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
