<section class="menu__wrapper flexColumn" *ngIf="menu">
  <div class="menu__title___container">
    <h1 class="menu__title" [innerText]="menuTitle"></h1>
  </div>
  <div class="navigation__categories__container">
    <ul class="navigation__categories__list">
      <li
        class="navigation__categories__item"
        *ngFor="let category of menu.categories"
      >
        <button class="navigation__item__button" (click)="openCategory($event)">
          {{ category.categoryName }}
        </button>
      </li>
    </ul>
  </div>
  <div class="menu__display__container flexColumn">
    <div class="menu__closed__display flexColumn" *ngIf="!renderedCategory">
      <p class="menu__closed__display__message">{{ closedMenuMessage }}</p>
    </div>
  </div>
</section>
