.menu__wrapper {
  height: 100%;
  justify-content: flex-start;
  padding: 5%;
  gap: 1rem;
  .menu__title___container {
    .menu__title {
      font-family: "Great Vibes", cursive;
      font-size: 6rem;
      font-weight: 100;
      letter-spacing: 0.25px;
    }
  }

  .navigation__categories__container {
    width: 40%;
    height: 80%;
    .navigation__categories__list {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      justify-items: center;

      .navigation__categories__item {
        list-style: none;
        &:last-child {
          grid-column: span 2;
          text-align: center;
        }
        .navigation__item__button {
          cursor: pointer;
          font-size: 1.5rem;
          color: var(--text-color);
          border: none;
          background: transparent;
          transition: all 220ms ease-in-out;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
  .menu__display__container {
    .menu__closed__display {
      width: 100%;
      text-align: center;
      padding-top: 5%;
      gap: 2rem;
      .menu__closed__display__message {
        font-size: 0.75rem;
        font-style: italic;
      }
      .menu__closed__display__providers {
        width: 100%;
        .menu__providers__title {
          font-style: italic;
          font-weight: lighter;
          font-size: 1.5rem;
        }
        .menu__providers__list {
          list-style: none;
          justify-content: space-around;
          .menu__providers__item {
            padding: 1.5rem;
          }
          .menu__provider__logo {
            width: 120px;
            aspect-ratio: 1;
          }
        }
      }
    }
    .menu__open__display {
      height: 100%;
    }
  }
}
