<section class="menu__wrapper" *ngIf="menu">
  <header class="menu__title___container flexRow">
    <h1 class="menu__title" [innerText]="menuTitle"></h1>
  </header>
  <div class="navigation__categories__container">
    <ul class="navigation__categories__list">
      <li
        class="navigation__categories__item flexColumn"
        *ngFor="let category of menu.categories"
        (click)="openCategory(category.categoryName)"
      >
        <img
          [src]="category.backgroundUrl"
          alt="No Beverage"
          class="navigation__categories__item__background"
          loading="lazy"
        />
        <button class="navigation__item__button">
          {{ category.categoryName }}
        </button>
      </li>
    </ul>
  </div>
  <div class="menu__tip__container flexColumn">
    <p class="menu__tip__message" [innerText]="tipMenuMessage"></p>
  </div>
</section>
