.home__container {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior-block: mandatory;
  scroll-snap-type: y proximity;
  position: relative;
  transition: all 350ms ease-in-out;
  .header__container {
    z-index: 5;
    position: fixed;
    align-items: flex-start;
    top: 2.5%;
    left: 2.5%;
  }
  .sections__container {
    height: 100%;
    .section {
      transition: all 350ms ease-in-out;
      scroll-snap-align: end;
      height: 100%;
      width: 100%;
    }
    .hero__container {
      background-color: var(--background-color);
    }
    .gallery__container {
      background-color: var(--background-color-gallery);
    }

    .footer__container {
      height: fit-content;
      background-color: var(--background-color);
    }
  }
}
