<nav class="navigation__container">
  <div class="navigation__logo__container flexColumn">
    <img
      class="navigation__logo"
      [src]="navLogoUrl"
      alt="No Coffe"
      (click)="openLanding()"
    />
  </div>
  <div class="navigation__controls__container flexColumn">
    <button (click)="navigate('/')" class="navigation__button">INFO</button>
    <button (click)="navigate('menu')" class="navigation__button">MENU</button>
    <button (click)="navigate('gallery')" class="navigation__button">
      GALLERY
    </button>
  </div>

  <div class="navigation__socials__container flexRow">
    <img
      class="social__logo"
      [src]="social.url"
      alt="no social contact"
      *ngFor="let social of socials"
    />
  </div>
  <div class="navigation__language__container">
    <app-language></app-language>
  </div>
</nav>
