<nav class="navigation__container flexRow">
  <div
    class="navigation__logo__container flexRow"
    (click)="scrollToSection('/')"
  >
    <h1 class="navigation__logo">Cafe Bulevard</h1>
  </div>
  <div class="navigation__controls__container flexRow">
    <button (click)="scrollToSection('/')" class="navigation__button">
      INFO
    </button>
    <button (click)="scrollToSection('menu')" class="navigation__button">
      MENU
    </button>
    <button (click)="scrollToSection('gallery')" class="navigation__button">
      GALLERY
    </button>
    <button (click)="scrollToSection('contact')" class="navigation__button">
      CONTACT
    </button>
  </div>
</nav>
