<c-carousel [interval]="10000" transition="slide">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img [src]="slide.src" alt="{{ slide.title }}" loading="lazy" />
    </c-carousel-item>
  </c-carousel-inner>
  <div class="carousel__controls__container flexRow">
    <c-carousel-control
      caption="Previous"
      direction="prev"
      class="carousel__control"
    >
      <button class="left">
        <div class="left-top"></div>
        <div class="left-bottom"></div>
      </button>

    </c-carousel-control>
    <c-carousel-control
      caption="Next"
      direction="next"
      class="carousel__control"
    >
      <button class="arrow">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
      </button>

    </c-carousel-control>
  </div>
</c-carousel>
