c-carousel {
  height: 100%;
  position: relative;
  overflow: hidden;

  c-carousel-inner {
    height: 100%;
    position: relative;
    c-carousel-item {
      position: absolute;
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        filter: blur(5px);
      }
    }
  }
  .carousel__controls__container {
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    padding: 0rem 1rem;
    top: 0;
    width: 100%;
    .carousel__control {
      position: relative;
    }
  }
}

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 80px;
  transition: transform .1s;
  aspect-ratio: 2/3;
  $transition-time: .15s;
  
  &-top,
  &-bottom {
    background-color: var(--text-color);
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    &:after {
      background-color: var(--background-color);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(45deg);
    transform-origin: bottom right;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }
  
  &-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
    
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }
  
  &:hover & {
    
    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }
  
  &:active {
    transform: scale(0.9);
  }
}

.left {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 80px;
  transition: transform .1s;
  aspect-ratio: 2/3;
  $transition-time: .15s;
  
  &-top,
  &-bottom {
    background-color: var(--text-color);
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    &:after {
      background-color: #000000;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(45deg);
    transform-origin: top left;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: $transition-time;
    }
  }
  
  &-bottom {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    
    &:after {
      left: 0;
      right: 100%;
      transition-delay: 0;


    }
  }
  
  &:hover & {
    
    &-top:after {
      left: 0;
      transition-delay: 0s;
    }

    &-bottom:after {
      right: 0;
      transition-delay: $transition-time;
    }
  }
  
  &:active {
    transform: scale(0.9);
  }
}