.landing__page__logo__container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
  .landing__page__logo__wrapper {
    gap: 2rem;
    height: 100%;
    .landing__page__logo {
      cursor: pointer;
      filter: invert(1);
      width: 50%;
      aspect-ratio: 1;
      transition: all 220ms ease-in-out;
      opacity: 0;
      animation: fadeInOut 1.5s ease-in;
      animation-fill-mode: forwards;
      &:hover {
        scale: 1.1;
        transition: all 220ms ease-in-out;
      }
    }
    .landing__page__title {
      cursor: pointer;
      font-size: 5rem;
      font-weight: 100;
      font-family: "Alex brush", cursive;
      opacity: 0;
      animation: fadeInOut 1s ease-in;
      animation-fill-mode: forwards;
      transition: all 220ms ease-in-out;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .landing__page__logo__container {
    .landing__page__logo__wrapper {
      .landing__page__logo {
        width: 85%;
      }
    }
  }
}

div {
  a {
    --color: var(--text-color);

    position: relative;
    text-decoration: none;
    color: var(--color);
    padding: 0.2rem 0;

    &::before {
      --line-width: 115%;
      --line-height: 1px;
      --line-easing: ease;
      --line-transition-duration: 300ms;

      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: var(--line-width);
      height: var(--line-height);
      transform-origin: right;
      transform: scaleX(0);
      background: var(--color);
      transition: transform var(--line-transition-duration) var(--line-easing);
      z-index: 1;
    }

    &:hover {
      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
      span {
        --deg: -45deg;
        &::before {
          transform: rotate(var(--deg));
        }
        &::after {
          transform: translateX(-1px) rotate(var(--deg));
        }
      }
    }

    span {
      --line-arrow-width: 1px;
      --line-arrow-height: 6px;
      --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
      --line-arrow-transition-duration: 200ms;
      --line-arrow-transition-delay: 240ms;
      font-family: "Alex brush", cursive;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: -18%;
        bottom: 0px;
        background: var(--color);
        transition: transform var(--line-arrow-transition-duration)
          var(--line-arrow-easing);
        transition-delay: var(--line-arrow-transition-delay);
        z-index: 2;
      }

      &::before {
        width: var(--line-arrow-width);
        height: var(--line-arrow-height);
        transform-origin: 0% 100%;
        transform: rotate(-90deg);
      }

      &::after {
        height: var(--line-arrow-width);
        width: var(--line-arrow-height);
        transform-origin: 100% 0%;
        transform: translateX(-1px) rotate(0deg);
      }
    }
  }
}
