.landing__page__logo__container {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
  .landing__page__logo__wrapper {
    gap: 2rem;
    height: 100%;
    .landing__page__logo {
      cursor: pointer;
      filter: invert(1);
      width: 50%;
      aspect-ratio: 1;
      transition: all 220ms ease-in-out;
      opacity: 0;
      animation: fadeInOut 1.5s ease-in;
      animation-fill-mode: forwards;
      &:hover {
        scale: 1.1;
        transition: all 220ms ease-in-out;
      }
    }
    .landing__page__title {
      cursor: pointer;
      font-size: 5rem;
      font-weight: 100;
      font-family: var(--title-font);
      opacity: 0;
      animation: fadeInOut 1s ease-in;
      animation-fill-mode: forwards;
      transition: all 220ms ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .landing__page__logo__container {
    .landing__page__logo__wrapper {
      .landing__page__logo {
        width: 50%;
      }
      .landing__page__title {
        font-size: 2.5rem;
      }
    }
  }
}
