* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Background image, sizing and grid structure */
body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header nav "
    "main main"
    "footer footer";
}
.logo-header {
  grid-area: header;
  background-color: rgb(187, 125, 70);
  height: 10vh;
}

nav {
  grid-area: nav;
  background-color: rgb(187, 125, 70);
  height: 10vh;
}
main {
  grid-area: main;
  height: 90vh;
  background-image: url(/assets/HOME/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  border: 3px solid yellow;
  grid-area: footer;
}

/* NAVIGATION and header postioning */
.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: inherit;
  line-height: 10vh;
}
.logo {
  display: flex;
  height: inherit;
  line-height: 10vh;
}

/* NAVIGATION STYLING */
ul a {
  color: black;
  text-decoration: none;
}
