<section class="hero__wrapper flexColumn">
  <div class="hero__carousel__container">
    <app-carousel
      [carouselData]="backgroundImages"
      [showThumbnails]="false"
    ></app-carousel>
  </div>
  <div class="hero__closing__container flexColumn">
    <h3 class="program__title" [innerText]="heroData.closing.programTitle"></h3>
    <p class="program__days" [innerText]="heroData.closing.programDays"></p>
    <p class="program__text" [innerText]="heroData.closing.programText"></p>
    <p class="program__address" [innerText]="heroData.closing.address"></p>
    <p class="location__number" [innerText]="heroData.closing.number"></p>

    <p class="closing__text" [innerText]="heroData.closing.text"></p>
  </div>
</section>
