.hero__wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  .hero__carousel__container {
    width: 100%;
    height: 100%;
    filter: blur(5px);
  }
  .hero__closing__container {
    position: absolute;
    z-index: 5;
    bottom: 2.5%;
    justify-content: flex-end;
    gap: 0.5rem;
    .program__title {
      font-size: 2.5rem;
    }
    .program__days,
    .program__text,
    .program__address {
      font-weight: 100;
      font-size: 1.5rem;
    }
    .location__number {
      font-style: italic;
      letter-spacing: 1.5px;
    }
    .closing__text {
      padding-top: 1rem;
      letter-spacing: 1.5px;
      font-style: italic;
    }

    .program__title,
    .program__days,
    .program__text,
    .location__number,
    .program__address,
    .closing__text {
      animation: fadeInOut 1s ease-in;
      animation-fill-mode: forwards;
    }
  }
}
