.hero__wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  backdrop-filter: blur(5px);
  .hero__opening__container,
  .hero__invitation__container {
    grid-row: span 3;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0rem 0rem 1rem;
  }
  .hero__opening__container {
    grid-column: span 2;
    .opening__title {
      font-size: 5rem;
    }
    .opening__intro,
    .opening__emphasis {
      font-size: 2rem;
    }
  }
  .hero__invitation__container {
    grid-column: span 1;
    padding-top: 2.5rem;

    .invitation__title {
      font-size: 2rem;
    }
    .invitation__list {
      list-style: none;

      .invitation__list__item {
        font-size: 1.5rem;
        &:nth-of-type(1) {
          padding-left: 4rem;
        }
        &:nth-of-type(2) {
          padding-left: 6rem;
        }
        &:nth-of-type(3) {
          padding-left: 8rem;
        }
        &:nth-of-type(4) {
          padding-left: 10rem;
        }
      }
    }
  }
  .hero__closing__container {
    gap: 1rem;
    grid-column: span 3;
    grid-row: span 2;
    .program__title {
      font-size: 2.5rem;
    }
    .program__days,
    .program__text,
    .program__address {
      font-size: 1.5rem;
    }

    .closing__text {
      padding-top: 1rem;
      letter-spacing: 1.5px;
      font-style: italic;
    }
  }
}
