.hero__wrapper {
  height: 100%;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: fadeInOut 1s ease-in-out;

  .hero__closing__container {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px) !important;
    padding: 1.5rem;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
    .program__title {
      font-size: 2.5rem;
    }
    .program__days,
    .program__text,
    .program__address {
      font-weight: 100;
      font-size: 1.5rem;
    }
    .location__number {
      font-style: italic;
      letter-spacing: 1.5px;
    }
    .closing__text {
      padding-top: 1rem;
      letter-spacing: 1.5px;
      font-style: italic;
    }

    .program__title,
    .program__days,
    .program__text,
    .location__number,
    .program__address,
    .closing__text {
      animation: fadeInOut 1s ease-in;
      animation-fill-mode: forwards;
    }
  }
  .hero__buttons {
    display: flex;
    justify-content: center;
    .hero__button {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border: none;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }
    .hero__button.active {
      background-color: rgb(0, 0, 0);
    }
  }
}
