<section class="hero__wrapper">
  <div class="hero__opening__container flexColumn">
    <h1 class="opening__title" [innerText]="heroData.opening.title"></h1>
    <sub>
      <p class="opening__intro" [innerText]="heroData.opening.introduction"></p>
      <p class="opening__emphasis" [innerText]="heroData.opening.emphasis"></p>
    </sub>
  </div>
  <div class="hero__invitation__container flexColumn">
    <h2
      class="invitation__title"
      [innerText]="heroData.invitation.invitationTitle"
    ></h2>
    <ul class="invitation__list">
      <li
        class="invitation__list__item"
        [innerText]="heroData.invitation.firstActivity"
      ></li>
      <li
        class="invitation__list__item"
        [innerText]="heroData.invitation.secondActivity"
      ></li>
      <li
        class="invitation__list__item"
        [innerText]="heroData.invitation.thirdActivity"
      ></li>
      <li
        class="invitation__list__item"
        [innerText]="heroData.invitation.invitationClosing"
      ></li>
    </ul>
  </div>
  <div class="hero__closing__container flexColumn">
    <h3 class="program__title" [innerText]="heroData.closing.programTitle"></h3>
    <p class="program__days" [innerText]="heroData.closing.programDays"></p>
    <p class="program__text" [innerText]="heroData.closing.programText"></p>
    <p class="program__address" [innerText]="heroData.closing.address"></p>
    <p class="closing__text" [innerText]="heroData.closing.text"></p>
  </div>
</section>
